<header>
    <nav>
        <a href="/">Job Listing</a>
        <ul>
            <li><a href="/authors">Position1</a></li>
            <li><a href="/authors">Position2</a></li>
        </ul>
    </nav>
</header>